ipykernel==6.29.5      # Replace with the desired version
ipython==8.27.0
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.9.2
numpy==2.1.1
pandas==2.2.2
plotly==5.24.1
pprintpp==0.4.0
pykalman==0.9.7
pytz==2024.2
scikit-learn==1.5.2
seaborn==0.13.2
streamlit==1.39.0
xgboost==2.1.1
yfinance==0.2.43
